---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Skils from "../components/Skils.astro"
import Projects from "../components/Projects.astro"
import Experience from "../components/Experience .astro"
import Formation from "../components/Formation.astro"
import Contact from "../components/Contact.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header></Header>
		<Hero/>
		<Skils/>
		<Projects/>
		<Experience/>
		<Formation/>
		<Contact/>
		<Footer/>
	</body>
</html>
